$tablet-breakpoint:768px;
$desktop-breakpoint:1280px;


$primary-color1:#323232; //primary text color
$primary-color2:#0095ff; //CTA, form field outline
$primary-color3:#ffffff; //Background, CTA text

$secondary-color1:#afafaf; //secondary text