//   * {
//       border: 1px dotted chartreuse;
//   }
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
.selected {
    &__image {
        width: 100%;
        padding: 1rem 0;
    } 
}
@include tablet {
    .selected {
        &__image {
            padding: 0 1.5rem;
            background-color: black;
            margin-bottom: 1.5rem;
        }
    }
}
@include desktop {
    .selected {
        &__image {
            padding: 0 10rem;
        }
    }
}