@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

body {
    font-family: "Avenir";
    font-weight: 400;
    background-color: $primary-color3;
  }
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    &__logo {
        width: 7.5rem;
        margin-bottom: 1rem;
    }
    &__search {
        width: 92%;
        height: 2.25rem;
        margin-right: 1rem;
    }
    &__search-container {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
    &__avatar1 {
        height: 2.25rem;
        border-radius: 50%;
    }
    &__avatar2 {
        height: 2.25rem;
        border-radius: 50%;
        display: none;
    }
    &__upload {
        background-color: $primary-color2;
        margin-top: 1rem;
        height: 2.5rem;
        width: 100%;
        border-radius: 0.25rem;
        text-decoration: none;
    }
    &__fileUpload {
        width: 100%;
        display: none;
        position: relative;
        align-items: center;
    }
    &__fileUpload-label {
        justify-content: center;
        display: flex;
        position: relative;
        color: white;
        font-weight: 600;
        align-items: center;
        top: 0.5rem;
    }
    &__fileUpload-icon {
        position: absolute;
        left: 1rem;
        background-color: $primary-color2;
    }
}
@include tablet {
    .header {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        &__upload {
            width:25%;
            margin-top: 0;
            //display: flex;
            // justify-content: space-evenly;
        }
        &__fileUpload-icon {
            position: absolute;
            left: 1rem;
        }
        &__fileUpload-label {
            justify-content: center;
            display: flex;
            position: relative;
            color: white;
            font-weight: 400;
            align-items: center;
            top: 0.35rem;
        }
        &__logo {
            margin-bottom: 0;
        }
        &__avatar1 {
            height: 2.25rem;
            border-radius: 50%;
            display: none;
        }
        &__avatar2 {
            height: 2.25rem;
            border-radius: 50%;
            display: inline-block;
        }
        &__search-container {
            width: 30%;
        }
        &__search {
            width: 100%;
        }
    }
}
@include desktop {
    .header {
        &__search {
            width: 100%;
            margin-left: 25rem;
        }
        &__search-container {
            width: 60%;
        }
        &__upload {
            width: 15%;
        }
        
    }
}